/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2017, 6:14:27 PM
    Author     : admin
*/

#mainBody {
    -fx-background-color:linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

#nxt_btn:hover {
    -fx-background-color: orangered; 
}


